.header
  position fixed
  top 0
  left 0
  width 100%
  padding 15px 0 19px
  box-shadow 0px 2px 2px 0px rgba(153, 153, 153, 0.55)
  background #fff
  z-index 10
  @media (max-width: 1279px)
    padding 18.5px 26px
  &__nav--close
    display none
    transition 1s ease-in-out
    @media (max-width: 1279px)
      display block
      width 30px
      height 30px
      border-radius 50%
      border 2px solid var(--main)
      position absolute
      top 50%
      transform translateY(-100%)
      left 0
      z-index 10
      &::before
      &::after
        content ''
        width 20px
        height 2px
        background var(--main)
        display block
        position absolute
        top 50%
        left 50%
        transform translate(-50%,-50%) rotate(45deg)
      &::after
        transform translate(-50%,-50%) rotate(-45deg)
  &__nav
    display flex
    justify-content space-between
    align-items center
    @media (max-width: 1279px)
      transform translateX(-100%)
      position absolute
      width 385px
      height 100vh
      background #fff
      z-index -1
      top 55px
      left 0
      box-shadow: 0 2px 2px 0 rgba(153,153,153,.55);
      flex-direction column
      padding 20px 15px 45px
      align-items flex-start
      justify-content flex-start
      transition 1s ease-in-out
      z-index 1
      &::after
        content ''
        width 100%
        height 100%
        background #fff
        z-index 2
        top 0
        left 0
        position absolute
        display block
      &::before
        content ''
        position absolute
        display block
        width calc(100vw - 385px)
        right 0
        transform translateX(-100%)
        transition 1s ease-in-out
        height 100vh
        top 0
        background #dadada
        z-index -5
        opacity 0
    @media (max-width: 767px)
      width 290px
      &::before
        width 100vw
        left 0
  &__left
    @media (max-width: 1279px)
      width 100%
      position relative
      z-index 3
      .header__link
        border-bottom 1px solid #f3f3f4
  &__right
    position relative
    z-index 3
    @media (max-width: 1279px)
      width 100%
  .burger
    @media (max-width: 1279px)
      width 30px
      height 17px
      position relative
      display block
      transition 1s ease-in-out
      span
        width 30px
        height 3px
        background var(--main)
        position absolute
        left 0
        top 0
        transition .5s
        &:nth-child(2)
          top 7px
        &:nth-child(3)
          top 14px
  #burger
    display none
    &:checked ~ .burger
      transform translateX(-300px)
    &:checked ~ .header__nav
      transform translateX(0)
      &::before
        transform translateX(100%)
        opacity 1
        @media (max-width: 767px)
          transform translateX(0)
      .header__nav--close
        left calc(385px + ((100vw - 385px)/2))
        @media (max-width: 767px)
          left calc(260px + ((100vw - 260px)/2))

  &__logo
    position absolute
    left 50%
    transform translateX(-50%)
    top -24px
    background #fff
    box-shadow 0 2px 2px 0 rgba(153, 153, 153, 0.55)
    width: 101px
    height: 101px
    border-radius 50%
    display flex
    align-items center
    justify-content center
    padding-top 20px
    z-index 2
    &::before
      content ''
      position absolute
      left -3px
      right -3px
      top 0
      bottom 23px
      background #ffffff
    a
      position relative
    img
      height 50px
      width auto
  &__dropmenu
    display block
    position absolute
    background #fff
    top 100%
    transition: 0.25s all ease-in-out
    opacity 0
    pointer-events none
    padding-top 35px
    @media (max-width: 1279px)
      position static
      opacity 1
      pointer-events auto
      margin -15px 0
    div
      box-shadow: 0 1px 1px 0 rgba(168,170,171,.85)
      padding 0 20px
      @media (max-width: 1279px)
        box-shadow none
        padding 0
        padding-left 30px
    a
      display block
      text-decoration none
      white-space nowrap
      color var(--main)
      padding: 11px 0
      border-top: 1px solid #f3f3f4
      transition .5s
      min-width 150px
      font-weight 400
      @media (max-width: 1279px)
        border none
        padding 18px 0
      &:hover
      &.active
        font-weight bold
  &__link
    color var(--main)
    text-decoration none
    font-size 14px
    position relative
    display inline-block
    min-width 56px
    cursor pointer
    @media (max-width: 1279px)
      padding 30px
      display block
      font-size 15px
      width 100%
    &.active
      font-weight bold
    span
      position relative
      z-index 2
    &::before
      content ''
      position absolute
      bottom 0
      left 0
      width 100%
      height 1px
      background var(--main)
      transform: scaleX(0)
      transition 0.25s all ease-in-out
    &:hover
      .header__dropmenu
        top 0
        opacity 1
        pointer-events auto
    &:hover:before {
      transform: scaleX(1)
    }
    &:nth-child(2)
      margin-left 85px
      @media (max-width: 1279px)
        margin-left 0
      &::after
        content ''
        position absolute
        height 12px
        top 50%
        left -45px
        margin-top -6px
        width 1px
        background var(--main)
        pointer-events none
        @media (max-width: 1279px)
          display none
