.music__img-wrap {
  height: 88px;
}
@media (max-width: 767px) {
  .music__img-wrap {
    height: 95px;
  }
}
.music__img {
  height: 83px;
  width: 100%;
  border-bottom: 3px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.music__img::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}
@media (max-width: 767px) {
  .music__img {
    height: 90px;
    overflow: hidden;
  }
  .music__img img {
    position: absolute !important;
    height: 100%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
.music__img picture,
.music__img img {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  transition: 0.5s;
  min-width: 100%;
  min-height: 100%;
}
.music__title {
  display: flex;
  align-items: center;
  color: #626262;
  padding-top: 15px;
  padding-left: 20px;
}
.music__title h3 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  position: relative;
}
.music__title h3::after {
  content: '';
  width: 100%;
  max-width: 0;
  height: 1px;
  background: var(--main);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s;
}
.music__btn {
  margin-right: 22px;
}
.music__icon {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: inherit;
  border-radius: 50%;
  border: 1px solid #626262;
  display: none;
}
.music__icon--play {
  padding-left: 3px;
  padding-bottom: 0.5px;
}
.music__icon.active {
  display: flex;
}
.music__icon svg {
  display: block;
}
.music__column {
  margin: 0 1.5px;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  grid-column-gap: 3px;
}
@media (max-width: 1279px) {
  .music__column {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .music__column {
    grid-template-columns: 1fr;
  }
}
.music__carousel {
  width: 905px;
  margin: auto;
  margin-bottom: 45px;
}
@media (max-width: 1279px) {
  .music__carousel {
    width: 605px;
  }
}
@media (max-width: 767px) {
  .music__carousel {
    width: 245px;
  }
}
.music__carousel .slick-list {
  margin: 0 -1.5px;
}
.music__carousel .slick-prev {
  left: -90px;
  top: 140px;
}
@media (max-width: 1279px) {
  .music__carousel .slick-prev {
    top: 210px;
    left: -60px;
  }
}
@media (max-width: 767px) {
  .music__carousel .slick-prev {
    top: 225px;
    left: calc((50vw - 123px) / -2 - 10px);
  }
}
.music__carousel .slick-next {
  right: -90px;
  top: 140px;
}
@media (max-width: 1279px) {
  .music__carousel .slick-next {
    top: 210px;
    right: -60px;
  }
}
@media (max-width: 767px) {
  .music__carousel .slick-next {
    top: 225px;
    right: calc((50vw - 123px) / -2 - 10px);
  }
}
.music__item.active .music__img img {
  filter: blur(2px);
}
.music__item.active .music__title {
  color: var(--main);
}
.music__item.active .music__icon {
  border-color: var(--main);
  border-width: 2px;
}
.music__item.active .music__icon svg path {
  fill: var(--main);
}
@media (hover) {
  .music__item:hover .music__img img {
    filter: blur(2px);
  }
  .music__item:hover .music__title {
    color: var(--main);
  }
  .music__item:hover .music__icon {
    border-color: var(--main);
    border-width: 2px;
  }
  .music__item:hover .music__icon svg path {
    fill: var(--main);
  }
}
.music__item.active .music__title h3::after {
  max-width: 200px;
}
.music__numbers-wrap {
  height: 175px;
  background: url("img/bg/music-numbers.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .music__numbers-wrap {
    background-position: -1000px center;
  }
}
@media (max-width: 767px) {
  .music__numbers-wrap {
    width: calc(100% - 70px);
    margin: auto;
    height: auto;
  }
}
.music__numbers {
  width: 780px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
@media (max-width: 1279px) {
  .music__numbers {
    width: 666px;
  }
}
@media (max-width: 767px) {
  .music__numbers {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 445px;
  }
  .music__numbers::before {
    content: '';
    width: 100vw;
    background: #fff;
    display: block;
    position: absolute;
    height: 40px;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
  }
  .music__numbers::after {
    content: '';
    width: 100vw;
    background: #fff;
    display: block;
    position: absolute;
    height: 40px;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.music__number {
  background: var(--main);
  color: #fff;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 0;
  transition: 1.5s;
  width: 160px;
}
.music__number h3 {
  position: absolute;
  top: -75px;
  font-size: 30px;
}
.music__number h4 {
  margin: 0;
  font-size: 14px;
  opacity: 0;
}
.music__number.active {
  height: 80px;
}
@media (max-width: 767px) {
  .music__number.active {
    height: 70px !important;
  }
}
.music__number.active h4 {
  opacity: 1;
  transition: 2s opacity 1s;
}
.music__number-wrap {
  position: relative;
}
.music__number-wrap:nth-of-type(2) .music__number.active {
  height: 105px;
}
.music__number-wrap:nth-of-type(3) .music__number.active {
  height: 60px;
}
@media (max-width: 767px) {
  .music__number-wrap {
    display: flex;
    align-items: flex-end;
    margin-top: 70px;
    margin-bottom: 25px;
    z-index: 3;
    height: 80px;
  }
  .music__number-wrap:last-child {
    margin-bottom: -15px;
  }
}
.music__examples {
  width: 1160px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.music__examples .slick-list {
  margin: 0;
}
@media (max-width: 1279px) {
  .music__examples {
    width: 620px;
    background: #f9f9f9;
    border-radius: 15px;
    padding: 0 120px;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .music__examples {
    width: 240px;
    padding: 50px 50px 0;
    display: block;
  }
  .music__examples .slick-arrow {
    top: 200px;
  }
  .music__examples .slick-prev {
    left: calc((50vw - 10px) / -2 - 10px);
  }
  .music__examples .slick-next {
    right: calc((50vw - 10px) / -2 - 10px);
  }
}
.music__example-img {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 0;
}
.music__example-img picture {
  object-fit: cover;
}
.music__example-img img {
  transition: 0.5s;
}
.music__example-img .music__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  margin: 0;
}
.music__example-img .music__icon {
  border: 1px solid #fff;
}
.music__example-img .music__icon svg path {
  fill: none;
}
.music__example-img .music__icon--stop svg path {
  stroke: #fff;
}
.music__example {
  padding: 50px 50px 50px;
  height: 250px;
  background: #f9f9f9;
  position: relative;
  border-radius: 15px;
}
@media (max-width: 1279px) {
  .music__example {
    padding: 50px 0 0 !important;
    border-radius: 0;
  }
  .music__example::before {
    content: '';
    width: 140px;
    display: block;
    position: absolute;
    background: #fff;
    height: 5px;
    top: -2.5px;
  }
  .music__example:nth-child(1)::before,
  .music__example:nth-child(2)::before {
    display: none;
  }
}
@media (max-width: 767px) {
  .music__example {
    margin: 0 !important;
    width: 140px;
    padding: 0 !important;
    height: 225px;
  }
}
.music__example .music__icon--stop svg rect {
  fill: #fff;
}
.music__example h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  transition: 0.5s;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .music__example h3 {
    margin-top: 13px;
  }
}
.music__example:nth-child(1),
.music__example:nth-child(4),
.music__example:nth-child(6),
.music__example:nth-child(9) {
  padding-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.music__example:nth-child(2),
.music__example:nth-child(5),
.music__example:nth-child(7),
.music__example:nth-child(10) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.music__example:nth-child(3),
.music__example:nth-child(8) {
  margin: 0 30px;
}
@media (max-width: 1279px) {
  .music__example:nth-child(3),
  .music__example:nth-child(8) {
    margin: 0;
  }
}
.music__example:hover .music__icon,
.music__example.active .music__icon {
  border: 2px solid #fff;
}
.music__example:hover .music__icon svg path,
.music__example.active .music__icon svg path {
  fill: #fff;
}
.music__example:hover .music__example-img img,
.music__example.active .music__example-img img {
  filter: blur(2px);
}
.music__example:hover h3,
.music__example.active h3 {
  color: var(--main);
}
.music__example:nth-child(6),
.music__example:nth-child(7),
.music__example:nth-child(8),
.music__example:nth-child(9),
.music__example:nth-child(10) {
  padding-top: 29px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.music__example:nth-child(1),
.music__example:nth-child(2),
.music__example:nth-child(3),
.music__example:nth-child(4),
.music__example:nth-child(5) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.music__example:nth-child(6)::before,
.music__example:nth-child(7)::before,
.music__example:nth-child(8)::before,
.music__example:nth-child(9)::before,
.music__example:nth-child(10)::before {
  content: '';
  width: 140px;
  display: block;
  position: absolute;
  background: #fff;
  height: 5px;
  top: -2.5px;
}
@media (max-width: 1279px) and (max-width: 767px) {
  .music__example::before {
    top: -30px;
  }
}
@media (max-width: 1279px) and (max-width: 767px) {
  .music__example:nth-child(2)::before {
    display: block;
  }
}
.music__triggers {
  width: 820px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}
@media (max-width: 1279px) {
  .music__triggers {
    grid-template-columns: 1fr;
    width: 270px;
  }
}
.music__trigger {
  padding-top: 35px;
  height: 230px;
  background: #f9f9f9;
  text-align: center;
}
.music__trigger-img {
  width: 110px;
  height: 110px;
  border: 5px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.music__trigger-img img {
  display: block;
  border: 5px solid #fff;
}
.music__trigger h3 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #626262;
  max-width: 100px;
  margin: auto;
  margin-top: 10px;
  line-height: 21px;
}
.music__offers-carousel {
  width: 1200px;
  margin: auto;
}
@media (max-width: 1279px) {
  .music__offers-carousel {
    width: 560px;
  }
}
@media (max-width: 767px) {
  .music__offers-carousel {
    width: 240px;
  }
}
.music__offers-carousel .slick-prev {
  left: -80px;
}
@media (max-width: 1279px) {
  .music__offers-carousel .slick-prev {
    left: -65px;
  }
}
@media (max-width: 767px) {
  .music__offers-carousel .slick-prev {
    left: calc((50vw - 120px) / -2 - 10px);
  }
}
.music__offers-carousel .slick-next {
  right: -80px;
}
@media (max-width: 1279px) {
  .music__offers-carousel .slick-next {
    right: -75px;
  }
}
@media (max-width: 767px) {
  .music__offers-carousel .slick-next {
    right: calc((50vw - 120px) / -2 - 10px);
  }
}
.music__offers-carousel .slick-list {
  margin: 0 -40px;
}
@media (max-width: 767px) {
  .music__offers-carousel .slick-list {
    margin: 0;
  }
}
.music__offers-carousel .slick-list::before,
.music__offers-carousel .slick-list::after {
  content: '';
  background: #fff;
  display: block;
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
@media (max-width: 767px) {
  .music__offers-carousel .slick-list::before,
  .music__offers-carousel .slick-list::after {
    display: none;
  }
}
.music__offers-carousel .slick-list::after {
  left: auto;
  right: 0;
}
.music__offers-column {
  background: #f9f9f9;
  border-radius: 15px;
  margin: 0 40px;
  position: relative;
}
@media (max-width: 767px) {
  .music__offers-column {
    margin: 0;
  }
}
.music__offers-column::after {
  content: '';
  width: 160px;
  display: block;
  position: absolute;
  background: #fff;
  height: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.music__offers-img {
  width: 160px;
  height: 160px;
  margin: auto;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.music__offers-img::after {
  content: 'подробнее';
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s;
}
.music__offers-img picture {
  object-fit: cover;
}
.music__offers-img img {
  transition: 0.5s;
}
.music__offers-item {
  height: 280px;
  padding-top: 40px;
  display: block;
  text-decoration: none;
}
.music__offers-item h4 {
  margin: auto;
  text-align: center;
  max-width: 150px;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
  color: #434343;
  transition: 0.5s;
}
@media (hover) {
  .music__offers-item:hover h4 {
    color: var(--main);
  }
  .music__offers-item:hover .music__offers-img::after {
    opacity: 1;
  }
  .music__offers-item:hover .music__offers-img img {
    filter: blur(2px);
  }
}
.royaltyfree {
  background: url("img/bg/royaltyfree.jpg");
  width: 214px;
  height: 214px;
  margin: auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.royaltyfree__wrap {
  width: 145px;
  height: 145px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 15px;
}
.royaltyfree__wrap span {
  font-size: 16px;
}
.royaltyfree__wrap span:first-child {
  font-size: 24px;
}
.royaltyfree__wrap span:nth-child(2) {
  font-size: 17px;
  font-weight: bold;
  margin: 3px 0 4px;
}
.partners1 {
  width: 555px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .partners1 {
    width: 280px;
  }
}
.partners1 .stick {
  height: 150px;
  margin: 0;
}
.partners1__logo {
  width: 210px;
}
@media (max-width: 767px) {
  .partners1__logo {
    width: 90px;
  }
}
.partners1__logo img {
  display: block;
  width: 100%;
  height: auto;
}
.partners1__logo .hidden-desktop {
  display: none;
}
@media (max-width: 767px) {
  .partners1__logo .hidden-desktop {
    display: block;
  }
}
@media (max-width: 767px) {
  .partners1__logo .hidden-mobile {
    display: none;
  }
}
