.radio__carousel {
  width: 870px;
  margin: auto;
}
@media (max-width: 1279px) {
  .radio__carousel {
    width: 348px;
  }
}
@media (max-width: 767px) {
  .radio__carousel {
    width: 170px;
  }
}
.radio__carousel .slick-list {
  margin: 0 -2.5px;
}
.radio__carousel .slick-list::before,
.radio__carousel .slick-list::after {
  display: none;
}
.radio__carousel .slick-prev {
  left: -70px;
  top: 135px;
}
@media (max-width: 1279px) {
  .radio__carousel .slick-prev {
    left: -130px;
    top: 270px;
  }
}
@media (max-width: 767px) {
  .radio__carousel .slick-prev {
    left: calc((50vw - 85px) / -2 - 10px);
  }
}
.radio__carousel .slick-next {
  right: -70px;
  top: 135px;
}
@media (max-width: 1279px) {
  .radio__carousel .slick-next {
    right: -130px;
    top: 270px;
  }
}
@media (max-width: 767px) {
  .radio__carousel .slick-next {
    right: calc((50vw - 85px) / -2 - 10px);
  }
}
.radio__img {
  width: 100%;
  height: 264px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  transition: 0.5s;
  overflow: hidden;
}
.radio__img picture {
  width: 100%;
  display: block;
}
.radio__img img {
  display: block;
  min-width: 100%;
  border-radius: 10px;
  margin-top: 0;
  transition: 0.5s;
}
.radio__column {
  margin: 0 2.5px;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
@media (max-width: 1279px) {
  .radio__column {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
.radio__item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 2.5px;
}
@media (max-width: 1279px) {
  .radio__item {
    margin: 0;
  }
}
.radio__item h3 {
  background: #f8f8f8;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-size: 15px;
  color: #636363;
  transition: 0.5s;
  opacity: 0.95;
}
.radio__item:hover .radio__img img {
  filter: blur(5px);
}
.radio__item:hover h3 {
  color: var(--main);
}
